<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container mx-auto">

        <div class="content">
            
            <div class="title-container mb-12">
                <nav class="flex mt-8" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-3">
                        <li class="inline-flex items-center">
                            <a th:href="@{~/}" class="inline-flex items-center text-xl font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                <a th:href="@{~/boards}" class="ml-1 text-xl font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">게시판</a>
                            </div>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                <a th:href="@{~/boards/} + ${article.boardId}" class="ml-1 text-xl font-medium text-gray-400 md:ml-2 dark:text-gray-500" th:text="${article.boardName}">Flowbite</a>
                            </div>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="sub-container flex flex-col ml-6">

                <div class="sub-title flex">
                    <span class="text-2xl font-bold" th:text="${article.title}"></span>
                </div>

                <div class="sub-subtitle flex justify-between mt-8">

                    <span class="text-xl" th:text="${#temporals.format(article.regDate, 'yyyy-MM-dd')}"></span>
                    <span class="text-xl" th:text="${article.authorName}"></span>

                </div>

            </div>

            <hr class="my-4">

            <div class="body-container">

                <div class="body-content">

                    <p th:text="${article.body}"></p>

                </div>

                <div th:if="${#authentication.name.equals(article.memberLoginId)}" class="btn-container mt-6 flex justify-end">

                    <a th:href="@{~/articles/modify/} + ${article.id}" class="mx-2">
                        <button type="button" class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">수정</button>
                    </a>

                    <a th:href="@{~/articles/delete/} + ${article.id}" class="mx-2">
                        <button type="button" class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">삭제</button>
                    </a>

                </div>


            </div>
        </div>

    </div>

</div>

</body>
</html>