<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="admin-header-container">

            <div class="title-container flex">

                <h2 class="font-bold text-3xl">관리자 대시보드</h2>

                <div class="status-container items-center flex justify-center ml-2">
                    <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">Alpha</span>
                </div>

            </div>

            <hr class="my-2 border-grey-200">

            <div class="admin-main-container">

                <div class="statistics-container flex flex-col">
                    
                    <div class="statistics-item flex flex-col my-4">

                        <div class="item-header font-bold text-2xl">
                            <h2>회원 데이터</h2>
                        </div>
                        <div class="item-body flex mt-4">

                            <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mx-4">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">총 회원</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">총 회원 (금일 가입자)</p>
                                <p class="font-normal text-gray-700 dark:text-gray-400 mt-2">
                                    <span class="font-bold text-xl">[[${memberStatData.totalMemberCount}]]</span> <span class="font-bold text-xl text-blue-600">(+ [[${memberStatData.todaySignMemberCount}]] )</span>
                                </p>
                            </div>

                            <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mx-4">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">회원 등급 통계</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">관리자 : [[${memberStatData.adminMemberCount}]] 명</p>
                                <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">일반 회원 : [[${memberStatData.userMemberCount}]] 명</p>
                            </div>

                        </div>

                    </div>

                    <div class="statistics-item flex flex-col my-4">

                        <div class="item-header font-bold text-2xl">
                            <h2>게시판 데이터</h2>
                        </div>
                        <div class="item-body flex mt-4">

                            <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mx-4">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">총 게시판 수</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">총 게시판 수 : [[${boardStatData.totalBoardCount}]]</p>
                            </div>

                            <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mx-4">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">신규 개설 게시판</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">신규 개설 게시판 / 개설일</p>
                                <th:block th:each="latestBoard : ${boardStatData.latestBoardList}">
                                    <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">[[${latestBoard.name}]] | [[${#temporals.format(latestBoard.regDate, 'yyyy-MM-dd')}]]</p>
                                </th:block>
                            </div>

                            <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mx-4">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">게시판 상태</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">게시판 명 / 게시글 갯수</p>
                                <th:block th:each="countBoard : ${boardStatData.boardCountList}">
                                    <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">[[${countBoard.name}]] | [[${countBoard.articleCount}]]</p>
                                </th:block>
                            </div>

                        </div>

                    </div>

                    <div class="statistics-item flex flex-col my-4">

                        <div class="item-header font-bold text-2xl">
                            <h2>게시글 데이터</h2>
                        </div>
                        <div class="item-body flex mt-4">

                            <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mx-4">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">총 게시글</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">총 게시글 수 : [[${articleStatData.totalArticleCount}]]</p>
                            </div>

                        </div>

                    </div>


                </div>

            </div>


        </div>

    </div>
</body>
</html>