<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<footer th:fragment="footerFragment" class="p-4 bg-white rounded-lg md:flex md:items-center md:justify-between md:p-6">

    <span class="text-sm text-grey-500 sm:text-center">© 2022
        <a href="/" class="hover:underline">gpfla3690</a>. All Rights Reserved.
    </span>

    <ul class="flex flex-wrap items-center mt-3 text-sm text-grey-500 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Community</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Price Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
        </li>
    </ul>

</footer>
</html>