<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>

</head>
<body>
<div layout:fragment="content">

    <div class="mb-20"></div>

    <div class="container flex justify-center mx-auto">

        <div class="join-form border p-20 rounded-lg shadow-md">

            <div class="join-title text-2xl flex justify-center mb-12">
                <span> 회원정보 수정 </span>
            </div>

            <form action="" th:action="@{~/members/modify/} + ${memberModifyForm.loginId}" th:object="${memberModifyForm}" method="POST">
                <div class="flex justify-center">
                    <div class="flex-col">
                        <div class="form-item mb-4">
                            <input class="border rounded p-1 rounded bg-gray-50" name="loginId" type="text" th:field="*{loginId}" placeholder="아이디" readonly>
                        </div>

                        <div class="form-item mb-4">
                            <input class="border rounded p-1 rounded bg-gray-50" name="loginPw" type="password" placeholder="비밀번호" th:field="*{loginPw}" th:errorclass="field-error">
                            <span th:errors="*{loginPw}"></span>
                        </div>

                        <div class="form-item mb-4">
                            <input class="border rounded p-1 rounded bg-gray-50" name="name" type="text" th:field="*{name}" placeholder="이름" readonly>
                        </div>

                        <div class="form-item mb-4">
                            <input class="border rounded p-1 rounded bg-gray-50" name="nickname" type="text" th:field="*{nickname}" th:errorclass="field-error" placeholder="닉네임">
                            <span th:errors="*{nickname}"></span>
                        </div>

                        <div class="form-item mb-4">
                            <input class="border rounded p-1 rounded bg-gray-50" name="email" type="email" th:field="*{email}" th:errorclass="field-error" placeholder="이메일">
                            <span th:errors="*{email}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-item flex justify-center mt-8">
                    <button class="mr-4 border bg-blue-500 p-1 rounded text-white">수정</button>
                    <a href="/">
                        <button class="border bg-blue-500 p-1 rounded text-white" type="button">
                            취소
                        </button>
                    </a>
                </div>

            </form>

        </div>

    </div>

</div>

</body>
</html>